@model NTUHr.Web.Models.Hr
@{
    ViewBag.Title = "一般人事甄選";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <div>
        <h2>台大醫院一般人事甄選網路報名</h2>
        <table style="width:100%">
            <tr>
                @*@foreach (string headers in ViewBag.Headers)
                {
                    <th>@headers</th>
                }*@
                @foreach (var header in ViewBag.DataTable.Columns)
                {
                    <th>@header</th>
                }
            </tr>
            @foreach (var row in ViewBag.DataTable.Rows)
            {
                <tr>
                    <td>@row[0]</td>
                    <td>@row[1]</td>
                    <td>@row[2]</td>
                    <td>@row[3]</td>
                    <td>@row[4]</td>
                    <td>@row[5]</td>
                    <td>@row[6]</td>
                    <td>@row[7]</td>
                    <td>@row[8]</td>
                    <td>@row[9]</td>
                    <td>@row[10]</td>
                    <td>@row[11]</td>
                </tr>
            }
            @*@foreach(NTUHr.Web.Models.Hr content in ViewBag.Contents)
            {
            <tr>
                <td>@content.PsnSelectNo</td>
                <td>@content.Unit</td>
                <td>@content.Title</td>
                <td>@content.PsnCnt</td>
                <td>@content.SelectBeginDate</td>
                <td>@content.SelectEndDate</td>
                <td>@content.SelectTypeName</td>
                <td>@content.RegisterDocUri</td>
                <td>@content.RegisterUri</td>
                <td>@content.Register1</td>
                <td>@content.Register2</td>
                <td>@content.Register3</td>
            </tr>
            }*@
        </table>
    </div>
</body>
</html>
